@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background:black;
}

.social-media > a {
  margin-right: .5rem;
  background: #0059ff;
  padding: .3rem .5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: .9;
}

.social-media > a img {
  width: 1.5rem;
}

#navbar{
  background:white;
}

#footer{
  font-size:8px;
  width:auto;
}

p {
  text-align: center;
}


#quote-box {
  background: white;
  margin: 5px;
  padding: 3rem;
  border-radius: 10px;
  shadowOffset:  0px 0px;
    shadowOpacity: 0.5;
    shadowRadius: 10;
}

#text {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-media {
  display: flex;
  background:white;

}

.social-media > a {
  margin-right: .5rem;
 
  cursor: pointer;
}



#new-quote {
  background: #0059ff;
  border: none;
  color: #fff;
  padding: .7rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.9;
}
